$prefix:'adi-detail-';
.#{$prefix}root {
  .#{$prefix}header {
    position: relative;

    .#{$prefix}title {
      padding: 20px 15px;
      font-weight: bold;
      border-bottom: 1px solid #f1f1f1;
    }

    .#{$prefix}close {
      position: absolute;
      right: 35px;
      top: 50%;
      transform: translateY(-50%);
      height: 15px;
      width: 15px;
      background-image: url('./close.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .#{$prefix}main {

    .#{$prefix}itemTitle {
      font-size: 12px;
      color: #c1c1c1;
      margin: 10px 15px;
    }
  }
}

.#{$prefix}input {
  background: #fff;
  margin: 1px 0 5px 0;
  border-bottom: 1px solid #f1f1f1;
  position: relative;

  input,textarea{
    font-size: 16px;
    width: 100%;
    border: 0;
    padding: 25px 15px;
    background: transparent;
  }
  textarea{
    box-sizing: border-box;
    padding-right: 70px;
  }
  .#{$prefix}button{
    right: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #dc1e32;
  }
}


.#{$prefix}list {
  padding: 0 15px;
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fff;

  li {
    list-style: none;
    border-bottom: 1px solid #f1f1f1;
    padding: 20px 0;
  }
}

.#{$prefix}item {
  .#{$prefix}title {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .#{$prefix}sub {
    font-size: 14px;
    opacity: .7;
  }
}
