.root {
  .main {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 200px;
    background: #fff;

    .close {
      position: absolute;
      height: 60px;
      width: 60px;
      right: 0;
      z-index: 99;
    }
  }

  .texture {
    position: fixed;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
  }
}
